@use "partials/reset";
@use "partials/vars" as *;
@use "partials/utils";

/* Generics */
body {
  background-color: $darkblue;
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $green;
  }
}

ul {
  list-style-type: none;
}
